.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-bottom: 5vh;
}

.photo {
  height: 70vh;
  width: 40vw;
  border-radius: 10px;
}

.line {
  z-index: -1;
  width: 100vw;
  transform: translateY(-600%);
}
