:root {
  --space-cadet: #34344aff;
  --cool-gray: #8d99aeff;
  --bright-pink-crayola: #ef798aff;
  --caribbean-current: #0f7173ff;
  --tea-green: #ccf5acff;
  --background: #ede4e5;
  scrollbar-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow-x: hidden;
}

body,
html {
  font-family: "Raleway";
  color: var(--space-cadet);
  font-size: 24px;
}

h1 {
  font-weight: 400;
  font-size: 4rem;
  color: var(--space-cadet);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bright-pink-crayola);
}

button {
  font-family: "Raleway";
}
